
/* --------------------------- Add Ons -------------------------- */
.page3 {
  display: flex;
}

.pick-options {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pick {
  width: 459.5px;
  padding: 15px;
  border: 1px solid var(--clr-text);
  border-radius: 10px;

  display: grid;
  align-items: center;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-areas: 
  'input title money'
  'input des money';

  transition: 0.2s;
}
.pick:hover {
  border-color: var(--clr-input-active);
}
.pick input {
  grid-area: 'input';
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin: 0 32px 0 10px;
  accent-color: var(--clr-input-active);
}
label {
  cursor: pointer;
}
.pick:checked {
  background-color: var(--clr-input-active-low);
}
.pick h1 {
  grid-area: 'title';
  font-size: var(--size-300);
  font-family: ubuntu-bold;

}
.pick p.description {
  grid-area: 'des';
  font-size: var(--size-200);
  font-family: ubuntu-medium;
}
.pick p span {
  font-size: var(--size-200);
  font-family: ubuntu-bold;
  color: rgb(103, 74, 205);
}

.addBg {
  border-color: var(--clr-input-active);
  background-color: var(--clr-input-active-low);
}


@media (max-width: 34em) {
  .pick {
    width: 100%;
  }

  .pick input {
    padding: 10px;
    margin: 0 10px 0 5px;
    cursor: pointer;
  }
}
