
/* --------------------------- Select plan -------------------------- */
.page2 {
    display: flex;
}

.plans {
  padding-top: 2.5rem;

  display: flex;
  justify-content: left;
  gap: 0.85rem;  
}


/* ---- BUTTONS ---- */
.plans input[type='radio'] {
  position: absolute;
  left: -1000px;
}

.plans label {
  width: 144px;
  padding: 16px 50px 16px 16px;
  background: none;
  border: 1px solid var(--clr-text);
  border-radius: 10px;
  transition: 0.3s;
}
.plans label:is(:hover, :focus) {
  border-color: var(--clr-input-active);
}

.plans label:focus {
  border-color: var(--clr-input-active);
  background-color: var(--clr-input-active-low);
}
.plans label div {
  text-align: left;
}

.plans label img {
  font-size: var(--size-300);
  margin-bottom: 40px;
}

.plans label h1 {
  font-size: var(--size-300);
}

.plans label p {
  font-size: var(--size-200);
  font-family: ubuntu-medium;
}

/* SHOW FREE PLAN LINE WHEN PERIOD IS YEARLY */
.plans label p.show-free {
  font-family: ubuntu-reg;
  margin-top: 5px;
  font-size: 12px;
  color: var(--clr-input-active);
}


/* ANIMATED TOGGLE BUTTON FOR PERIOD SELECT... */
input#plan-period {
  position: absolute;
  left: -1000px;
}


input#plan-period + label {
  cursor: pointer;
  margin-top: 2rem;
  padding: 0.5rem;

  color: var(--clr-text);
  font-size: 0.9rem;
  font-family: ubuntu-bold;
  
  text-align: center;
  background-color: var(--clr-text-low);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

label > .monthly#month, label > .yearly#year {
  color: var(--clr-input);
  display: flex;
  flex-direction: row;
}

input[type="checkbox"] + label div#year {
  position: relative;
  display: flex;
  align-items: center;
}

#year::before {
  content: " ";
  width: 2.3em;
  height: 1.2em;
  background-color: var(--clr-input);
  border-radius: 1em;
  margin: 4px 11px 0;
}

#year::after {
  position: absolute;
  content: " ";
  left: 0.3em;
  width: 0.8em;
  height: 0.8em;
  background-color: whitesmoke;
  margin: 4px 10px 0;
  border-radius: 1em;
  transition: 0.3s;
}

input[type="checkbox"]:checked + label div#year::after {
  transform: translateX(130%);
}


.plans .addBg {
  border-color: var(--clr-input-active);
  background-color: var(--clr-input-active-low);
}

@media (max-width: 34em) {
  .plans {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .plans label {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    /* justify-content: space-between; */
  }

  .plans label img {
    height: min-content;
    margin-bottom: 0;
    aspect-ratio: 1;
  }
  .plans label p.show-free {
    margin-top: 0;
  }
}