.page4 {
    display: flex;
    position: relative;
}


button[type='previous'] {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  padding: 15px 25px;
  font-family: ubuntu-bold;
  font-size: var(--size-300);
  background-color: transparent;
  color: var(--clr-text);
  border: none;
  border-radius: 10px;
  transition: 0.2s;
}

button[type='previous']:is(:hover, :focus) {
  cursor: pointer;
  color: var(--clr-input-active);
}
