.page5 {
    width: 530px;
}
.thankYou {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 auto;
}

.thankYou img {
    margin-bottom: 1.8rem;
}

.thankYou p {
    padding: 0.8rem 2rem;
    text-align: center;
}

