
.thankYou {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px 0;
}
 
.thankYou img {
    margin-bottom: 1.8rem;
}

.thankYou p {
    padding: 0.8rem 2rem;
    text-align: center;
}

@media (max-width: 34em) {  
    .thankYou {
        margin: 80px 0;
    }
}

