:root {
  --size-200: 0.9rem;
  --size-300: 1rem;
  --size-400: 1.2rem;
  --size-500: 1.5rem;
  --size-700: 2.5rem;
  --size-900: 3rem;

  --clr-input: rgb(34, 34, 135);
  --clr-input-low: rgb(34, 34, 135, 0.1);
  --clr-input-active: rgb(61, 61, 175);
  --clr-input-active-low: rgb(61, 61, 175, 0.06);
  --clr-text: rgb(182, 182, 182); 
  --clr-text-dark: rgb(128, 128, 128); 
  --clr-text-low: rgba(182, 182, 182, 0.15); 

  --heading-1: rgb(51, 51, 94);

  --mini-width: 90%;     
  --mini-height: 450px;
}

@font-face {
  font-family: ubuntu-bold;
  src: url(./../assets/fonts/Ubuntu-Bold.ttf);
}

@font-face {
  font-family: ubuntu-medium;
  src: url(./../assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
  font-family: ubuntu-reg;
  src: url(./../assets/fonts/Ubuntu-Regular.ttf);
}


h1 {
  font-size: var(--size-700);
  font-family: ubuntu-bold;
  color: var(--heading-1);
}

p.description {
  font-size: var(--size-300);
  font-family: ubuntu-reg;
  color: var(--clr-text);
  letter-spacing: 0.3px;
}

.infoPage-form, .select-plan, .add-ons, .summary, .thankYou {
  display: flex;
  flex-direction: column;
  position: relative;
}

@media (max-width: 34em) {
  :root {
    --size-700: 1.5rem;
    --size-400: 1rem;
    --size-300: 0.9rem;
    --size-200: 0.7rem;
  }
}


/* --------------------------- Utility Classses -------------------------- */

.padding-top {
  padding: 2rem;
}

.max-height {
  height: 100%;
}

button[type='submit'] {
  position: absolute;
  right: 2rem;
  top: 480px;
  padding: 15px 25px;
  font-family: ubuntu-medium;
  font-size: var(--size-300);
  background-color: var(--clr-input);
  color: whitesmoke;
  border: none;
  border-radius: 10px;
  transition: 0.2s;
}

button[type='submit']:is(:hover, :active) {
  cursor: pointer;
  background-color: var(--clr-input-active);
}

button[type='previous'] {
  position: absolute;
  left: 1rem;
  top: 430px;
  margin-top: 3rem;
  padding: 15px 25px;
  font-family: ubuntu-bold;
  font-size: var(--size-300);
  background-color: transparent;
  color: var(--clr-text);
  border: none;
  border-radius: 10px;
  transition: 0.2s;
}

button[type='previous']:is(:hover, :focus) {
  cursor: pointer;
  color: var(--clr-input-active);
}

@media (max-width: 34em) {
  .page1, .page2,.page3,.page4,.page5 {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: var(--mini-width);
    left: calc(50% - var(--mini-width)/2);
    top: 126px;

    background-color: #fdfdff;
    border-radius: 0.5em;
    box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
  }

  div.buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    align-items: center;

    background-color: #fdfdff;
    border-radius: 0.5em;
    box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
  }
  
  button[type='submit'] {
    right: 20px;
    top: 12px;
    margin: 0;
    padding: 15px 23px; 
  }
  
  button[type='previous'] {
    left: 20px;
    top: 12px;
    margin: 0;
  }
}
